.slide {
    display: none;
    grid-template-columns: 826px auto;
    grid-template-rows: auto auto;
}

@media screen and (max-width: 1439px) {
    .slide {
        grid-template-columns: 424px auto;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 767px) {
    .slide {
        grid-template-columns: 304px;
        grid-template-rows: repeat(3, auto);
        row-gap: 16px;
    }
}