.footer__copyring {
  margin: 0;
  max-width: 629px;
  width: 100%;
  padding-top: 50px;
  color: rgba(38, 38, 38, 0.5);
  font-size: 18px;
}

@media (max-width: 1439px) {
  .footer__copyring {
    padding-top: 28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .footer__copyring {
    padding-top: 32px;
    font-size: 12px;
  }
}
