.footer__copyring {
  max-width: 629px;
  width: 100%;
  padding-top: 50px;
}

@media (max-width: 1439px) {
  .footer__copyring {
    padding-top: 28px;
  }
}

@media (max-width: 767px) {
  .footer__copyring {
    padding-top: 32px;
    max-width: 300px;
  }
}
