.btn {
  background: url(../../../images/Button.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.btn:hover {
  background: url(../../../images/CloseButtonBlue.svg) center no-repeat;
}

@media screen and (max-width: 1080px) {
  .btn {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 985px) {
  .btn {
    height: 37px;
    width: 37px;
  }
}

@media screen and (max-width: 936px) {
  .btn {
    height: 32px;
    width: 32px;
  }
}

@media screen and (max-width: 371px) {
  .btn {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
