.footer__phone-container {
  display: flex;
  flex-direction: column;
  max-width: 204px;
  width: 100%;
  gap: 3px;
}

@media (max-width: 1439px) {
  .footer__phone-container {
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .footer__phone-container {
    flex-direction: row;
    max-width: none;
    gap: 16px;
  }
}
