.two-cards {
    grid-area: two-cards;
    display: grid;
    grid-template-columns: repeat(2, 670px);
    grid-template-rows: 285px;
    column-gap: 20px;
    margin-top: 50px;
}

@media screen and (max-width: 1439px) {
    .two-cards {
        grid-template-columns: repeat(2, 334px);
        grid-template-rows: 170px;
        margin-top: 37.5px;
    }
}