.footer__subscription {
  max-width: 629px;
  width: 100%;
}

@media (max-width: 1439px) {
  .footer__title {
    max-width: 187px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .footer__title {
    max-width: 166px;
  }
}
