.card__link {
  background-color: #fff;
  background-image: url(../../../images/arrow_forward.svg);
  background-position: center right 14px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 48px;
  padding: 12px 10px;
  text-decoration: none;
  width: 165px;
}

.card__link:hover {
  background-image: url(../../../images/arrow_forward-hover.svg);
  color: #00275C;
}

.card__link:active {
  background-image: url(../../../images/arrow_forward-active.svg);
  color: #0C4BA0;
}

.card__link:disabled {
  background-image: url(../../../images/arrow_forward-disabled.svg);
  color: #C4C4C4;
}