.form__custom-radio {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadada;
}

@media screen and (max-width: 1023px) {
  .form__custom-radio {
    height: 44px;
  }
}

.form__element:checked + .form__custom-radio {
  border: 1px solid #0c4ba0;
}
