.menu__big-title {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1279px) {
  .menu__big-title {
    font-size: 29px;
  }
}

@media (max-width: 1023px) {
  .menu__big-title {
    font-size: 20px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .menu__big-title {
    padding-top: 0px;
    font-size: 18px;
    padding-bottom: 18px;
  }
}
