.everland__image-down {
    grid-area: item-2;
    width: 392px;
    height: 407px;
}

@media screen and (max-width: 1439px) {
    .everland__image-down {
        width: 170px;
        height: 175px;
    }
}

@media screen and (max-width: 767px) {
    .everland__image-down {
        width: 170px;
        height: 160px;
    }
}