.stories__card-link {
    width: 229px;
    height: 48px;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    padding: 12px 10px;
    transition: color .3s linear, background-image .3s linear;
    background-repeat: no-repeat;
    background-position: center right 14px;
}

@media screen and (max-width: 1439px) {
    .stories__card-link {
        font-size: 16px;
        width: 190px;
        height: 44px;
    }
}