.whom__button_orange {
    background-color: #FEEFEA;
    background-image: url(../../../../images/arrow__orange.svg);
    color: #E98509;
}

.whom__button_orange:hover {
    color: white;
    background-color: #E98509;
    background-image: url(../../../../images/arrow__white.svg);
}

.whom__button_orange:active {
    background-color: #864A00;
    color: white;
    background-image: url(../../../../images/arrow__white.svg);
}

.whom__button_orange:disabled {
    color: rgba(38, 38, 38, 0.5);
    background-image: url(../../../../images/arrow__disabled.svg);
    background-color: #C4C4C4;
}