.numbers__photo {
  max-width: 555px;
  max-height: 368px;
  margin-right: 135px;
}

/* @media screen and (max-width: 1418px) {
  .numbers__photo {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1383px) {
  .numbers__photo {
    margin-right: 80px;
  }
} */

@media screen and (max-width: 1295px) {
  .numbers__photo {
    margin-right: 60px;
    max-width: 500px;
    max-height: 312px;
  }
}

@media screen and (max-width: 1190px) {
  .numbers__photo {
    margin-right: 40px;
    max-width: 450px;
    max-height: 272px;
  }
}

@media screen and (max-width: 1110px) {
  .numbers__photo {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .numbers__photo {
    display: block;
    margin-right: 0;
    margin-top: 15px;
  width: 300px;
    height: 200px;

  }
}
