.destinations {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 1439px) {
  .destinations {
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .destinations {
    gap: 24px;
  }
}