.footer__container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 80px 40px 150px;
}

@media (max-width: 1439px) {
  .footer__container {
    padding: 50px 40px 50px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    padding: 32px 10px;
  }
}
