.footer__title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
}

@media (max-width: 1439px) {
  .footer__title {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    font-size: 16px;
  }
}
