.two-cards__element {
    display: grid;
    grid-template-columns: 224px auto;
    grid-template-rows: auto;
    column-gap: 20px;
    background-color: #EAE6FF;
    border-radius: 30px;
    align-items: center;
    padding-left: 30px;
}

@media screen and (max-width: 1439px) {
    .two-cards__element {
        grid-template-columns: 120px auto;
        grid-template-rows: auto;
        padding-left: 20px;
        border-radius: 20px;
        column-gap: 16px;
    }
}