.footer__support-and-subscription {
  padding-top: 90px;
  display: flex;
}

@media (max-width: 1439px) {
  .footer__support-and-subscription {
    padding-top: 56px;
  }
}

@media (max-width: 767px) {
  .footer__support-and-subscription {
    padding-top: 40px;
    flex-direction: column;
  }
}
