.footer__link-icon-telegramm {
  background-image: url(../../../images/telegram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

@media (max-width: 1439px) {
  .footer__link-icon-telegramm {
    background-size: cover;
    width: 40px;
    height: 40px;
  }
}
