.menu__buttons {
  display: flex;
  gap: 16px;
  z-index: 1;
}

@media (max-width: 1023px) {
  .menu__buttons {
    gap: 8px;
  }
}

@media (max-width: 767px) {
  .menu__buttons {
    display: none;
  }
}
