.stories__card {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    align-items: center;
}

@media screen and (max-width: 1439px) {
    .stories__card {
        column-gap: 16px;
    }
}