.whom__container {
    display: grid;
    grid-template: fit-content 1fr / 1fr;
    grid-template-areas:
    'title'
    'elements';
}

@media screen and (max-width: 1439px) {
    .whom__container {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'elements';
        max-width: calc(768px - 320px);
    }
}

@media screen and (max-width: 767px) {
    .whom__container {
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        'title'
        'elements';
        max-width: 300px;
    }
}