.stories__container {
    padding: 150px 0px 150px 0px;
    display: grid;
    grid-template: auto 1fr 1fr / 1fr;
    grid-template-areas: 
    'info-container'
    'cards'
    'two-cards';
    row-gap: 50px;
}

@media screen and (max-width: 1439px) {
    .stories__container {
        padding: 100px 0px 50px 0px;
        display: grid;
        grid-template: auto;
    }
}
