.figure__img {
  width: 440px;
  display: block;
}

@media screen and (max-width: 1023px) {
  .figure__img {
    width: 334px;
    height: 334px;
  }
}

@media screen and (max-width: 479px) {
  .figure__img {
    width: 300px;
    height: 300px;
  }
}