.numbers__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  margin-top: 5px;
}

@media screen and (max-width: 1359px) {
  .numbers__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .numbers__text {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .numbers__text {
    font-size: 14px;
    margin-top: 5px;
  }
}
