.form__button_type_arrow {
  margin-left: -10px;
  width: 20px;
  height: 20px;
  outline: none;
  background-color: transparent;
  background-image: url(../../../../images/arrow__button.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
