.form__button_type_question {
  width: 10px;
  height: 10px;
  margin-left: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  background: #0c4ba0;
  border-radius: 50%;
  font-size: 10px;
}

.form__button_type_question:hover {
  background: #4183dc;
}

.form__button_type_question:active {
  background: #00275c;
}

@media screen and (max-width: 1439px) {
  .form__button_type_question {
    margin-left: 9px;
  }
}

@media screen and (max-width: 1439px) {
  .form__button_type_question {
    margin-left: 5px;
  }
}
