.footer__image-practicum {
  background-image: url(../../../images/yandex-practicum-black.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 161px;
  height: 28px;
  transition: opacity 0.3s linear;
}

.footer__image-practicum:hover {
  opacity: 0.7;
}

@media (max-width: 1439px) {
  .footer__image-practicum {
    width: 115px;
    height: 20px;
  }
}
