.footer__support {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 1439px) {
  .footer__support {
    min-width: 353px;
  }
}

@media (max-width: 767px) {
  .footer__support {
    min-width: auto;
  }
}
