.support__title {
  margin: 0 10px;
  white-space: nowrap;
}

@media screen and (max-width: 1023px) {
  .support__title {
    font-size: 20px;
    margin: 0 14px;
  }
}

@media screen and (max-width: 767px) {
  .support__title {    
    font-size: 16px;
  }
}
