.footer__links-column {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  width: 100%;
  gap: 10px;
}

@media (max-width: 1439px) {
  .footer__links-column {
    width: fit-content;
  }
}
