.everland__title {
    grid-row: 1;
    grid-column: 1;
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1439px) {
    .everland__title {
        font-size: 38px;
        line-height: 45.6px;
        letter-spacing: -0.03em;
    }
}

@media screen and (max-width: 767px) {
    .everland__title {
        font-size: 28px;
        line-height: 33.6px;
    }
}