.everland__button {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #0C4BA0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
    background-image: url(../../../../images/arrow__white.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.everland__button:hover {
    background-color: #4183DC;
}

.everland__button:active {
    background-color: #00275C;
}

.everland__button:disabled {
    background-color: #C4C4C4;
    background-image: url(../../../images/arrow__disabled.svg);
    background-size: 17px 17px;
}

@media screen and (max-width: 1439px) {
    .everland__button {
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background-size: 10px 10px;
    }
}