.whom__button {
    align-self: flex-start;
    padding: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    height: 48px;
    width: 165px;
    border: 0px;
    padding-left: 10px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 50%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}
