.header__fixed {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: #fff;
  gap: 24px;
  z-index: 100;
}

@media (max-width: 1023px) {
  .header__fixed {
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .header__fixed {
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 54px;
  }
}
