.everland__image-container {
    grid-area: image;
    display: grid;
    grid-template-columns: [item-2-start] 168px [item-1-start] 100px [item-2-end] 100px [item-1-end];
    grid-template-rows: [item-1-start] 158px [item-2-start] 100px [item-1-end] 100px [item-2-end];
}

@media screen and (max-width: 1439px) {
    .everland__image-container {
        grid-template-columns: [item-2-start] 60px [item-1-start] 100px [item-2-end] 100px [item-1-end];
        grid-template-rows: [item-1-start] 97px [item-2-start] 100px [item-1-end] 100px [item-2-end];
        margin-top: 14px;
    }
}

@media screen and (max-width: 767px) {
    .everland__image-container {
        grid-template-columns: [item-2-start] 110px [item-1-start] 100px [item-2-end] 60px [item-1-end];
        grid-template-rows: [item-1-start] 40px [item-2-start] 100px [item-1-end] 60px [item-2-end];
        margin-top: 10px;
    }
}
