.form__fieldset_place_pay-type {
  display: grid;
  grid-template-columns: repeat(2, 316px);
  grid-gap: 20px;
  margin-bottom: 23px;
}

@media screen and (max-width: 1439px) {
  .form__fieldset_place_pay-type {
    grid-template-columns: repeat(2, 308px);
    grid-gap: 16px;
    margin-bottom: 32px;
  }
}
