.form__fieldset_place_pay-method {
  margin-left: 28px;
  padding: 16px 0 41px 0;
  display: grid;
  grid-template-columns: repeat(3, 186px) 20px;
  grid-gap: 18px;
  align-items: center;
}

@media screen and (max-width: 1439px) {
  .form__fieldset_place_pay-method {
    margin-left: 0;
    padding: 24px 5px 52px 5px;
    grid-template-columns: repeat(3, 190px) 20px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .form__fieldset_place_pay-method {
    padding: 16px 0 8px;
    grid-template-columns: 260px;
    grid-template-rows: repeat(3, 44px) 20px;
  }
}
