.everland__slider-number {
    margin: 0;
    padding: 0;
    width: 36px;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    font-feature-settings: "pnum" on, "lnum" on;
}

@media screen and (max-width: 1439px) {
    .everland__slider-number {
        font-size: 16px;
        width: 29px;
        height: 16px;
    }
}

@media screen and (max-width: 767px) {
    .everland__slider-number {
        font-size: 14px;
    }
}