.everland__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin: 0;
    padding: 0;
    grid-area: subtitle;
    margin-right: 290px;
}

@media screen and (max-width: 1439px) {
    .everland__subtitle {
        font-size: 16px;
        line-height: 19.2px;
        margin-right: calc(43px - 20px);
    }
}

@media screen and (max-width: 767px) {
    .everland__subtitle {
        font-size: 14px;
        line-height: 120%;
        margin-right: 10px;
    }
}