.whom__button_blue {
    background-color: #E7F0FF;
    background-image: url(../../../../images/arrow__blue.svg);
    color: #0C4BA0;
}

.whom__button_blue:hover {
    color: white;
    background-color: #0C4BA0;
    background-image: url(../../../../images/arrow__white.svg);
}

.whom__button_blue:active {
    background-color: #00275C;
    color: white;
    background-image: url(../../../../images/arrow__white.svg);
}

.whom__button_blue:disabled {
    color: rgba(38, 38, 38, 0.5);
    background-image: url(../../../../images/arrow__disabled.svg);
    background-color: #C4C4C4;
}