.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 150px;
}

@media (max-width: 1439px) {
  .footer {
    padding: 50px 40px 50px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 32px 10px;
  }
}
