.form_place_support {
  width: 691px;
  padding: 30px 23px 30px 17px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(42, 48, 56, 0.1);
  border-radius: 30px;
}

@media screen and (max-width: 1439px) {
  .form_place_support {
    text-align: left;
    padding: 30px 25px;
  }
}

@media screen and (max-width: 767px) {
  .form_place_support {
    width: 300px;
    padding: 32px 20px;
    border-radius: 20px;
  }
}
