.form_place_donations {
  grid-template-columns: repeat(4, 159px) 211px;
  grid-template-areas:
    "price250 price500 price750 price1000 price-other";    
  grid-gap: 40px;
}

@media screen and (max-width: 1439px) {
  .form_place_donations {
    grid-template-columns: repeat(4, 100px) 130px;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .form_place_donations {
    grid-template-columns: repeat(4, 75px) 135px;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .form_place_donations {
    padding-bottom: 32px;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 122px);
    grid-template-rows: repeat(3, 44px);
    grid-template-areas:
      "price250 price500"
      "price750 price1000"
      "price-other price-other";
  }
}
