.numbers__block {
  margin-bottom: 25px;
  width: 100%;
  width: 325px;
}

@media screen and (max-width: 1110px) {
  .numbers__block {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .numbers__block {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 320px) {
  .numbers__block:last-child {
    margin-bottom: 0;
  }
}
