.menu__big-container {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  position: absolute;
  min-height: 520px;
  background-color: #fff;
  top: 54px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 58px;
}

@media (max-width: 1023px) {
  .menu__big-container {
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 0;
    min-height: 534px;
  }
}

@media (max-width: 767px) {
  .menu__big-container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: auto;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu__big-construction:hover .menu__big-container {
  visibility: visible;
  opacity: 1;
}
