.advantages__accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 670px; */
  border-radius: 30px;
  border: 2px solid var(--grey);
}

@media screen and (max-width: 936px) {
  .advantages__accordions {
    width: 100%;
    margin: o auto;
  }
}
