.container_place_support {
  display: flex;
  padding-top: 50px;
}

@media screen and (max-width: 1439px) {
  .container_place_support {
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
  }
}
