.container_place_destinations {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 440px);
  gap: 20px;
  justify-content: center;
  width: max-content;
}

@media screen and (max-width: 1439px) {
  .container_place_destinations {
    grid-template: repeat(3, max-content) / repeat(2, 440px);
  }

  .container_place_destinations .card:nth-child(1) {
    order: 1;
  }

  .container_place_destinations .card:nth-child(2) {
    order: 2;
  }

  .container_place_destinations .card:nth-child(3) {
    order: 4;
  }

  .container_place_destinations .card:nth-child(4) {
    order: 3;
  }

  .container_place_destinations .card:nth-child(5) {
    order: 5;
  }

  .container_place_destinations .card:nth-child(6) {
    order: 6;
  }
}

@media screen and (max-width: 1023px) {
  .container_place_destinations {
    grid-template: repeat(3, max-content) / repeat(2, 334px);
  }
}

@media screen and (max-width: 767px) {
  .container_place_destinations {
    grid-template: repeat(6, max-content) / 334px;
  }

  .container_place_destinations .card:nth-child(3) {
    order: 3;
  }

  .container_place_destinations .card:nth-child(4) {
    order: 4;
  }
}

@media screen and (max-width: 479px) {
  .container_place_destinations {
    grid-template: repeat(6, max-content) / 300px;
    gap: 16px;
  }
}