.button {
    width: 194px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .button {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        height: 44px;
    }
}