.stories__quotation {
    grid-row: 1;
    grid-column: 2;
    align-self: flex-start;
    margin: 51px 19px 0px 0px;
}

@media screen and (max-width: 1439px) {
    .stories__quotation {
        grid-row: 1;
        grid-column: 3;
        margin: 0;
        width: 28px;
        height: 28px;
    }
}